<!-- Tufts VUE 3.3.0 concept-map (31.basic.vue) 2017-09-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Sep 27 06:33:55 CEST 2017 by raf on platform Linux 4.12.13-1-ARCH in JVM 1.8.0_144-b01 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="31.basic.vue"
    created="1490197928677" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1506486835415" size="9641"
        spec="/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/31.basic.vue"
        type="1" xsi:type="URLResource">
        <title>31.basic.vue</title>
        <property key="File" value="/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/31.basic.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe260a861f20456c38d38f4f07be</URIString>
    <child ID="10" label="A1" created="0" x="192.75" y="64.0"
        width="136.0" height="82.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FEFB03</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-24</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0de1612f6d43e9e0d0afe116c9a</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" label="A2" created="0" x="247.25" y="192.0"
        width="27.0" height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0e11612f6d43e9e0d0a84980f71</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" label="A3" created="0" x="336.5" y="183.5"
        width="93.0" height="41.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0e21612f6d43e9e0d0ac6dad095</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" label="A2.1" created="0" x="212.0" y="261.0"
        width="39.0" height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0e31612f6d43e9e0d0aa2e8a581</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="13" label="A2.2" created="0" x="270.5" y="261.0"
        width="39.0" height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0e51612f6d43e9e0d0a49c93ed4</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="26" label="Include" created="0" x="240.75" y="145.5"
        width="40.0" height="47.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0e91612f6d43e9e0d0a0bbcbc55</URIString>
        <point1 x="260.75" y="146.0"/>
        <point2 x="260.75" y="192.0"/>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <child ID="27" created="0" x="310.87878" y="145.5" width="47.306824"
        height="38.5" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0eb1612f6d43e9e0d0a65912f46</URIString>
        <point1 x="311.37878" y="146.0"/>
        <point2 x="357.6856" y="183.5"/>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="28" created="0" x="235.875" y="214.24432"
        width="20.608383" height="47.255676" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0ec1612f6d43e9e0d0a9d32b2ab</URIString>
        <point1 x="255.98338" y="214.74432"/>
        <point2 x="236.375" y="261.0"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
    <child ID="29" created="0" x="265.0166" y="214.2442"
        width="20.608429" height="47.2558" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1e7bf0ee1612f6d43e9e0d0a27291066</URIString>
        <point1 x="265.51657" y="214.7442"/>
        <point2 x="285.125" y="261.0"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1490197928682" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2b0a861f20456c38d34cc8dff0</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1490197928676" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="0" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2d0a861f20456c38d31fc423cf</URIString>
            <masterSlide ID="2" created="1490197928787" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe340a861f20456c38d38ddcda80</URIString>
                <titleStyle ID="3" label="Header"
                    created="1490197928844" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe350a861f20456c38d3ebee4c00</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1490197928845" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe360a861f20456c38d3fcc2a0a5</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1490197928850"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe370a861f20456c38d32e15d849</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-22</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test</saveLocation>
    <saveFile>/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/31.basic.vue</saveFile>
</LW-MAP>
