<!-- Tufts VUE 3.3.0 concept-map (45.shapes.vue) 2017-04-04 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/vue/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Tue Apr 04 10:19:04 CEST 2017 by raf on platform Linux 4.10.2-1-ARCH in JVM 1.8.0_121-b13 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="45.shapes.vue"
    created="1491293672713" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1491293944852" size="17571"
        spec="/mnt/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/45.shapes.vue"
        type="1" xsi:type="URLResource">
        <title>45.shapes.vue</title>
        <property key="File" value="/mnt/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/45.shapes.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/380923ab0a861f1520e013fb9bfde9f4</URIString>
    <child ID="6" label="roundRect" layerID="1" created="1491293675733"
        x="334.0" y="225.0" width="141.0" height="111.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923ad0a861f1520e013fb16026683</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="hexagon" layerID="1" created="1491293688593"
        x="627.5" y="277.5" width="85.1" height="33.100002"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923b10a861f1520e013fbcf4b98eb</URIString>
        <shape xsi:type="hexagon"/>
    </child>
    <child ID="8" layerID="1" created="1491293688595" x="474.5"
        y="283.59735" width="155.8789" height="8.902863"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923b50a861f1520e013fb9403bc6f</URIString>
        <point1 x="475.0" y="284.09735"/>
        <point2 x="629.8789" y="292.0002"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="9" label="diamond" layerID="1" created="1491293696333"
        x="382.5" y="409.5" width="100.0" height="47.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923b60a861f1520e013fbd723ab72</URIString>
        <shape xsi:type="diamond"/>
    </child>
    <child ID="10" layerID="1" created="1491293696339" x="414.19016"
        y="335.5" width="14.83783" height="76.3667" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923b90a861f1520e013fb1039eb57</URIString>
        <point1 x="414.69016" y="336.0"/>
        <point2 x="428.52798" y="411.3667"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="11" label="ellipse" layerID="1" created="1491293697546"
        x="162.5" y="377.5" width="63.6" height="26.600002"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923bf0a861f1520e013fb35874b96</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="12" layerID="1" created="1491293697548" x="213.3175"
        y="316.99408" width="121.182495" height="64.06436"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923c00a861f1520e013fbc1dc914f</URIString>
        <point1 x="334.0" y="317.49405"/>
        <point2 x="213.8175" y="380.5584"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <child ID="13" label="rectangle" layerID="1" created="1491293698385"
        x="69.5" y="293.5" width="76.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923c10a861f1520e013fb5c25f610</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="14" layerID="1" created="1491293698389" x="145.0"
        y="285.81567" width="189.5" height="16.549652" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923c20a861f1520e013fb0b308a7f</URIString>
        <point1 x="334.0" y="286.31567"/>
        <point2 x="145.5" y="301.86533"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <child ID="15" label="flag2" layerID="1" created="1491293717149"
        x="712.5" y="397.0" width="66.4" height="39.4" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923cd0a861f1520e013fba3d6c1b8</URIString>
        <shape xsi:type="flag2"/>
    </child>
    <child ID="16" layerID="1" created="1491293717152" x="679.75793"
        y="310.10004" width="61.306335" height="98.77368"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923cd0a861f1520e013fbf18d1569</URIString>
        <point1 x="680.258" y="310.60004"/>
        <point2 x="740.56433" y="408.37372"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="17" label="flag" layerID="1" created="1491293718261"
        x="327.5" y="510.0" width="57.8" height="38.8" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923ce0a861f1520e013fb0e22f32f</URIString>
        <shape xsi:type="flag"/>
    </child>
    <child ID="18" layerID="1" created="1491293718263" x="361.95343"
        y="449.64044" width="57.515594" height="72.59137"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923cf0a861f1520e013fb86b248c1</URIString>
        <point1 x="418.96902" y="450.14044"/>
        <point2 x="362.45343" y="521.7318"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
    <child ID="19" label="octagon" layerID="1" created="1491293719611"
        x="82.5" y="527.0" width="74.6" height="26.6" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923d70a861f1520e013fb80ae8644</URIString>
        <shape xsi:type="octagon"/>
    </child>
    <child ID="20" layerID="1" created="1491293719613" x="125.92775"
        y="403.063" width="62.512115" height="124.43704"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923e70a861f1520e013fb1ce2ad02</URIString>
        <point1 x="187.93987" y="403.56296"/>
        <point2 x="126.42775" y="527.0"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
    <child ID="21" label="triangle" layerID="1" created="1491293741763"
        x="-55.5" y="402.5" width="94.200005" height="47.2"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923e90a861f1520e013fb0f5623cf</URIString>
        <shape xsi:type="triangle"/>
    </child>
    <child ID="22" layerID="1" created="1491293741768" x="2.6291199"
        y="316.0" width="94.36468" height="98.55362" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923ef0a861f1520e013fb1ebca4b8</URIString>
        <point1 x="96.4938" y="316.5"/>
        <point2 x="3.1291182" y="414.05362"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">21</ID2>
    </child>
    <child ID="23" label="chevron" layerID="1" created="1491293743402"
        x="774.5" y="538.5" width="78.9" height="30.900002"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923f00a861f1520e013fb50abca10</URIString>
        <shape xsi:type="chevron"/>
    </child>
    <child ID="24" layerID="1" created="1491293743409" x="750.9459"
        y="427.75476" width="55.82135" height="111.24524"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923f20a861f1520e013fbcfc289b0</URIString>
        <point1 x="751.44586" y="428.25476"/>
        <point2 x="806.2672" y="538.5"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
    <child ID="25" label="rhombus" layerID="1" created="1491293744498"
        x="368.5" y="626.5" width="95.6" height="41.6" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923f30a861f1520e013fb81ddee40</URIString>
        <shape xsi:type="rhombus"/>
    </child>
    <child ID="26" layerID="1" created="1491293744509" x="360.1102"
        y="537.1869" width="46.122192" height="89.81311"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923f50a861f1520e013fb805d7e17</URIString>
        <point1 x="360.6102" y="537.6869"/>
        <point2 x="405.7324" y="626.5"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
    <child ID="27" label="shield" layerID="1" created="1491293745422"
        x="104.5" y="605.5" width="77.4" height="43.4" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923f60a861f1520e013fb313e3281</URIString>
        <shape xsi:type="shield"/>
    </child>
    <child ID="28" layerID="1" created="1491293745430" x="122.88135"
        y="553.1" width="14.975365" height="52.900024" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/380923f70a861f1520e013fb32448916</URIString>
        <point1 x="123.381355" y="553.6"/>
        <point2 x="137.35672" y="605.5"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">27</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1491293672713" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/380923f70a861f1520e013fb29f4de9b</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-42.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1491293672712" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="0" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/380923f80a861f1520e013fbf75be832</URIString>
            <masterSlide ID="2" created="1491293672850" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/380923f90a861f1520e013fb79899d2f</URIString>
                <titleStyle ID="3" label="Header"
                    created="1491293672898" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/380923f90a861f1520e013fb0cd519d9</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1491293672899" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/380923fa0a861f1520e013fbc31627a8</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1491293672900"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/380923fa0a861f1520e013fb4ce78239</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-04-04</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/mnt/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test</saveLocation>
    <saveFile>/mnt/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/45.shapes.vue</saveFile>
</LW-MAP>
