<!-- Tufts VUE 3.3.0 concept-map (34.images.vue) 2017-09-27 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Sep 27 06:32:43 CEST 2017 by raf on platform Linux 4.12.13-1-ARCH in JVM 1.8.0_144-b01 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="34.images.vue"
    created="1490081007867" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1506486763617" size="14000"
        spec="/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/34.images.vue"
        type="1" xsi:type="URLResource">
        <title>34.images.vue</title>
        <property key="File" value="/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/34.images.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/eff3fd6fa8771f2d2fd40a1db507cd46</URIString>
    <child ID="6" label="Nodo1.1" layerID="1" created="1490081018479"
        x="-96.51775" y="213.06458" width="138.0" height="157.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1490081834850"
            accessSuccessful="1490081835200"
            spec="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"
            type="1" xsi:type="URLResource">
            <title>1490099667_Caucasian_female_boss.png</title>
            <property key="Content.size" value="17194"/>
            <property key="Content.modified" value="Tue Mar 21 08:34:33 CET 2017"/>
            <property key="image.width" value="128"/>
            <property key="image.height" value="128"/>
            <property key="image.format" value="png"/>
            <property key="File" value="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"/>
        </resource>
        <fillColor>#00000000</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd77a8771f2d2fd40a1d334254ad</URIString>
        <child ID="7" created="1490081766758" x="5.0" y="23.0"
            width="128.0" height="128.0" strokeWidth="0.0"
            autoSized="false" xsi:type="image">
            <resource referenceCreated="0"
                accessAttempted="1490081834850"
                accessSuccessful="1490081835200"
                spec="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"
                type="1" xsi:type="URLResource">
                <title>1490099667_Caucasian_female_boss.png</title>
                <property key="Content.size" value="17194"/>
                <property key="Content.modified" value="Tue Mar 21 08:34:33 CET 2017"/>
                <property key="image.width" value="128"/>
                <property key="image.height" value="128"/>
                <property key="image.format" value="png"/>
                <property key="File" value="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"/>
            </resource>
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/eff3fd7ba8771f2d2fd40a1d799c4e5c</URIString>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="Nodo&#xa;Principale&#xa;" layerID="1"
        created="1490081832450" x="68.06678" y="-48.895576"
        width="138.0" height="187.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0"
            spec="/home/raf/Downloads/1490099646_Themis.png" type="1" xsi:type="URLResource">
            <title>1490099646_Themis.png</title>
            <property key="Content.size" value="20305"/>
            <property key="Content.modified" value="Tue Mar 21 08:34:15 CET 2017"/>
            <property key="image.width" value="128"/>
            <property key="image.height" value="128"/>
            <property key="image.format" value="png"/>
            <property key="File" value="/home/raf/Downloads/1490099646_Themis.png"/>
        </resource>
        <fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd7fa8771f2d2fd40a1d47203e6c</URIString>
        <child ID="10" created="1490081841806" x="5.0" y="53.0"
            width="128.0" height="128.0" strokeWidth="0.0"
            autoSized="false" xsi:type="image">
            <resource referenceCreated="0"
                spec="/home/raf/Downloads/1490099646_Themis.png"
                type="1" xsi:type="URLResource">
                <title>1490099646_Themis.png</title>
                <property key="Content.size" value="20305"/>
                <property key="Content.modified" value="Tue Mar 21 08:34:15 CET 2017"/>
                <property key="image.width" value="128"/>
                <property key="image.height" value="128"/>
                <property key="image.format" value="png"/>
                <property key="File" value="/home/raf/Downloads/1490099646_Themis.png"/>
            </resource>
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/eff3fd81a8771f2d2fd40a1ddba09bcc</URIString>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" label="Conduce&#xa;a" layerID="1"
        created="1490081908643" x="24.29792" y="137.01501"
        width="51.349365" height="76.54956" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd82a8771f2d2fd40a1d5203387f</URIString>
        <point1 x="75.147285" y="137.51501"/>
        <point2 x="24.79792" y="213.06458"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="13" label="Nodo1.2" layerID="1" created="1490081922782"
        x="195.40009" y="217.06458" width="138.0" height="157.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <resource referenceCreated="0" accessAttempted="1490081834850"
            accessSuccessful="1490081835200"
            spec="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"
            type="1" xsi:type="URLResource">
            <title>1490099667_Caucasian_female_boss.png</title>
            <property key="Content.size" value="17194"/>
            <property key="Content.modified" value="Tue Mar 21 08:34:33 CET 2017"/>
            <property key="image.width" value="128"/>
            <property key="image.height" value="128"/>
            <property key="image.format" value="png"/>
            <property key="File" value="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"/>
        </resource>
        <fillColor>#00000000</fillColor>
        <strokeColor>#00000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd85a8771f2d2fd40a1d335fac5a</URIString>
        <child ID="14" created="1490081922782" x="5.0" y="23.0"
            width="128.0" height="128.0" strokeWidth="0.0"
            autoSized="false" xsi:type="image">
            <resource referenceCreated="0"
                accessAttempted="1490081834850"
                accessSuccessful="1490081835200"
                spec="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"
                type="1" xsi:type="URLResource">
                <title>1490099667_Caucasian_female_boss.png</title>
                <property key="Content.size" value="17194"/>
                <property key="Content.modified" value="Tue Mar 21 08:34:33 CET 2017"/>
                <property key="image.width" value="128"/>
                <property key="image.height" value="128"/>
                <property key="image.format" value="png"/>
                <property key="File" value="/home/raf/Downloads/1490099667_Caucasian_female_boss.png"/>
            </resource>
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/eff3fd87a8771f2d2fd40a1d0897e99a</URIString>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" layerID="1" created="1490081925942" x="184.00723"
        y="137.60443" width="41.06317" height="79.960144"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd88a8771f2d2fd40a1dc00f5a9d</URIString>
        <point1 x="184.50723" y="138.10443"/>
        <point2 x="224.5704" y="217.06458"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <child ID="16" label="Nodo&#xa;Scollegato" layerID="1"
        created="1490081949106" x="371.0668" y="-29.062206"
        width="215.99997" height="99.33333" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd8aa8771f2d2fd40a1d71fb5f2d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <layer ID="1" label="Layer 1" created="1490081007873" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/eff3fd8aa8771f2d2fd40a1da95fc0d2</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-293.39984" y="-151.5933"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1490081007865" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="0" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/eff3fd8ba8771f2d2fd40a1d0dc750ef</URIString>
            <masterSlide ID="2" created="1490081007896" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/eff3fd8ca8771f2d2fd40a1d66f04ec8</URIString>
                <titleStyle ID="3" label="Header"
                    created="1490081007946" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/eff3fd8da8771f2d2fd40a1d4f967dbd</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1490081007947" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/eff3fd8ea8771f2d2fd40a1df1533326</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1490081007949"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/eff3fd94a8771f2d2fd40a1db69b79ce</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-21</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test</saveLocation>
    <saveFile>/home/raf/ownCloud/Scripts/varie/mappe_mentali/mindconv/test/34.images.vue</saveFile>
</LW-MAP>
