<!-- Tufts VUE 3.3.0 concept-map (empty.vue) 2017-03-22 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/vue/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Mar 22 16:52:17 CET 2017 by raf on platform Linux 4.10.2-1-ARCH in JVM 1.8.0_121-b13 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="empty.vue"
    created="1490197928677" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1490197937700"
        spec="empty.vue"
        type="1" xsi:type="URLResource">
        <title>empty.vue</title>
        <property key="File" value="empty.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe260a861f20456c38d38f4f07be</URIString>
    <layer ID="1" label="Layer 1" created="1490197928682" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2b0a861f20456c38d34cc8dff0</URIString>
    </layer>
	<child ID="10" label="diamond" layerID="1" created="0" x="56"
        y="377" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="diamond"/>
    </child>
	<child ID="11" label="Mdiamond" layerID="1" created="0" x="476"
        y="46" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="diamond"/>
    </child>
	<child ID="12" label="ellipse" layerID="1" created="0" x="634"
        y="884" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="13" label="Mcircle" layerID="1" created="0" x="159"
        y="5" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="14" label="circle" layerID="1" created="0" x="609"
        y="896" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="15" label="doublecircle" layerID="1" created="0" x="528"
        y="449" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="16" label="egg" layerID="1" created="0" x="104"
        y="596" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="17" label="oval" layerID="1" created="0" x="951"
        y="750" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="18" label="point" layerID="1" created="0" x="513"
        y="103" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="19" label="hexagon" layerID="1" created="0" x="124"
        y="410" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="hexagon"/>
    </child>
	<child ID="20" label="pentagon" layerID="1" created="0" x="383"
        y="600" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="hexagon"/>
    </child>
	<child ID="21" label="octagon" layerID="1" created="0" x="717"
        y="957" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="octagon"/>
    </child>
	<child ID="22" label="doubleoctagon" layerID="1" created="0" x="721"
        y="506" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="octagon"/>
    </child>
	<child ID="23" label="tripleoctagon" layerID="1" created="0" x="240"
        y="9" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="octagon"/>
    </child>
	<child ID="24" label="septagon" layerID="1" created="0" x="672"
        y="616" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="octagon"/>
    </child>
	<child ID="25" label="box" layerID="1" created="0" x="190"
        y="955" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="26" label="plaintext" layerID="1" created="0" x="963"
        y="392" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="27" label="Msquare" layerID="1" created="0" x="7"
        y="16" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="28" label="rect" layerID="1" created="0" x="96"
        y="17" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="29" label="rectangle" layerID="1" created="0" x="376"
        y="125" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="30" label="square" layerID="1" created="0" x="119"
        y="942" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="31" label="none" layerID="1" created="0" x="181"
        y="451" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="32" label="note" layerID="1" created="0" x="219"
        y="662" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="33" label="tab" layerID="1" created="0" x="303"
        y="842" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="34" label="folder" layerID="1" created="0" x="577"
        y="766" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="35" label="box3d" layerID="1" created="0" x="882"
        y="106" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="36" label="component" layerID="1" created="0" x="776"
        y="732" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="37" label="parallelogram" layerID="1" created="0" x="173"
        y="849" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rhombus"/>
    </child>
	<child ID="38" label="polygon" layerID="1" created="0" x="655"
        y="0" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rhombus"/>
    </child>
	<child ID="39" label="triangle" layerID="1" created="0" x="663"
        y="107" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="triangle"/>
    </child>
	<child ID="40" label="house" layerID="1" created="0" x="183"
        y="237" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="triangle"/>
    </child>
	<child ID="41" label="trapezium" layerID="1" created="0" x="74"
        y="920" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="triangle"/>
    </child>
	<child ID="42" label="invtriangle" layerID="1" created="0" x="776"
        y="148" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="shield"/>
    </child>
	<child ID="43" label="invtrapezium" layerID="1" created="0" x="141"
        y="533" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="shield"/>
    </child>
	<child ID="44" label="invhouse" layerID="1" created="0" x="364"
        y="193" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="shield"/>
    </child>
	<child ID="55"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
	<child ID="56"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
	<child ID="57"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
	<child ID="58"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">18</ID2>
    </child>
	<child ID="59"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
	<child ID="60"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">14</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
	<child ID="61"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
	<child ID="62"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">16</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
	<child ID="63"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">18</ID2>
    </child>
	<child ID="64"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">20</ID2>
    </child>
	<child ID="65"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">20</ID2>
    </child>
	<child ID="66"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">22</ID2>
    </child>
	<child ID="67"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">24</ID2>
    </child>
	<child ID="68"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
	<child ID="69"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">24</ID2>
    </child>
	<child ID="70"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
	<child ID="71"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">28</ID2>
    </child>
	<child ID="72"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">26</ID1>
        <ID2 xsi:type="node">34</ID2>
    </child>
	<child ID="73"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">26</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
	<child ID="74"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">33</ID2>
    </child>
	<child ID="75"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">30</ID2>
    </child>
	<child ID="76"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">29</ID2>
    </child>
	<child ID="77"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">29</ID1>
        <ID2 xsi:type="node">36</ID2>
    </child>
	<child ID="78"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">30</ID1>
        <ID2 xsi:type="node">32</ID2>
    </child>
	<child ID="79"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">31</ID1>
        <ID2 xsi:type="node">32</ID2>
    </child>
	<child ID="80"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">31</ID1>
        <ID2 xsi:type="node">34</ID2>
    </child>
	<child ID="81"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">33</ID1>
        <ID2 xsi:type="node">36</ID2>
    </child>
	<child ID="82"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">37</ID1>
        <ID2 xsi:type="node">38</ID2>
    </child>
	<child ID="83"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">37</ID1>
        <ID2 xsi:type="node">38</ID2>
    </child>
	<child ID="84"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">39</ID1>
        <ID2 xsi:type="node">40</ID2>
    </child>
	<child ID="85"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">39</ID1>
        <ID2 xsi:type="node">41</ID2>
    </child>
	<child ID="86"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">40</ID1>
        <ID2 xsi:type="node">41</ID2>
    </child>
	<child ID="87"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">42</ID1>
        <ID2 xsi:type="node">44</ID2>
    </child>
	<child ID="88"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">42</ID1>
        <ID2 xsi:type="node">43</ID2>
    </child>
	<child ID="89"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">43</ID1>
        <ID2 xsi:type="node">44</ID2>
    </child>
	<userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1490197928676" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="-1" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2d0a861f20456c38d31fc423cf</URIString>
            <masterSlide ID="2" created="1490197928787" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe340a861f20456c38d38ddcda80</URIString>
                <titleStyle ID="3" label="Header"
                    created="1490197928844" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe350a861f20456c38d3ebee4c00</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1490197928845" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe360a861f20456c38d3fcc2a0a5</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1490197928850"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe370a861f20456c38d32e15d849</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-22</date>
    <modelVersion>6</modelVersion>
    <saveLocation></saveLocation>
    <saveFile>empty.vue</saveFile>
</LW-MAP>