<!-- Tufts VUE 3.3.0 concept-map (empty.vue) 2017-03-22 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/vue/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Mar 22 16:52:17 CET 2017 by raf on platform Linux 4.10.2-1-ARCH in JVM 1.8.0_121-b13 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="empty.vue"
    created="1490197928677" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1490197937700"
        spec="empty.vue"
        type="1" xsi:type="URLResource">
        <title>empty.vue</title>
        <property key="File" value="empty.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe260a861f20456c38d38f4f07be</URIString>
    <layer ID="1" label="Layer 1" created="1490197928682" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2b0a861f20456c38d34cc8dff0</URIString>
    </layer>
	<child ID="10" label="Ancient&#xa;Greece" layerID="1" created="0" x="108"
        y="58" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#5f9ea0</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-24</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="11" label="War" layerID="1" created="0" x="829"
        y="360" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="12" label="Warfare&#xa;occurred&#xa;throughout&#xa;the&#xa;history&#xa;of&#xa;Ancient&#xa;Greece,&#xa;from&#xa;the&#xa;Greek&#xa;Dark&#xa;Ages&#xa;onward." layerID="1" created="0" x="704"
        y="865" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="13" label="Trojan&#xa;War" layerID="1" created="0" x="780"
        y="701" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="14" label="Greco&#xa;Persian&#xa;War" layerID="1" created="0" x="333"
        y="264" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="15" label="Peloponnesian&#xa;War" layerID="1" created="0" x="248"
        y="219" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="16" label="Culture&#xa;Society" layerID="1" created="0" x="704"
        y="17" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="17" label="City&#xa;states" layerID="1" created="0" x="570"
        y="478" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="18" label="Athenes" layerID="1" created="0" x="480"
        y="976" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="19" label="Sparta" layerID="1" created="0" x="197"
        y="596" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="20" label="Thebe" layerID="1" created="0" x="723"
        y="723" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="21" label="People" layerID="1" created="0" x="911"
        y="487" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="22" label="Pericles&#xa;Περικλῆς" layerID="1" created="0" x="460"
        y="170" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="23" label="Aristotele&#xa;Ἀριστοτέλης" layerID="1" created="0" x="231"
        y="735" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="24" label="History&#xa;/&#xa;Art" layerID="1" created="0" x="98"
        y="379" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="25" label="Pantheon" layerID="1" created="0" x="691"
        y="732" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="36" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
	<child ID="37" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
	<child ID="38" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">21</ID2>
    </child>
	<child ID="39" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">24</ID2>
    </child>
	<child ID="40" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
	<child ID="41" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
	<child ID="42" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
	<child ID="43" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
	<child ID="44" label="Typically" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">16</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
	<child ID="45" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">18</ID2>
    </child>
	<child ID="46" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
	<child ID="47" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">20</ID2>
    </child>
	<child ID="48" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">22</ID2>
    </child>
	<child ID="49" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
	<child ID="50" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">24</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
	<userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1490197928676" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="-1" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2d0a861f20456c38d31fc423cf</URIString>
            <masterSlide ID="2" created="1490197928787" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe340a861f20456c38d38ddcda80</URIString>
                <titleStyle ID="3" label="Header"
                    created="1490197928844" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe350a861f20456c38d3ebee4c00</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1490197928845" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe360a861f20456c38d3fcc2a0a5</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1490197928850"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe370a861f20456c38d32e15d849</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-22</date>
    <modelVersion>6</modelVersion>
    <saveLocation></saveLocation>
    <saveFile>empty.vue</saveFile>
</LW-MAP>