<!-- Tufts VUE 3.3.0 concept-map (empty.vue) 2017-03-22 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/vue/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Mar 22 16:52:17 CET 2017 by raf on platform Linux 4.10.2-1-ARCH in JVM 1.8.0_121-b13 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="empty.vue"
    created="1490197928677" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1490197937700"
        spec="empty.vue"
        type="1" xsi:type="URLResource">
        <title>empty.vue</title>
        <property key="File" value="empty.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe260a861f20456c38d38f4f07be</URIString>
    <layer ID="1" label="Layer 1" created="1490197928682" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2b0a861f20456c38d34cc8dff0</URIString>
    </layer>
	<child ID="10" label="Come&#xa;costruire&#xa;un&#xa;universo" layerID="1" created="0" x="259"
        y="879" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#5f9ea0</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-24</font>
       <shape xsi:type="ellipse"/>
    </child>
	<child ID="11" label="Georges&#xa;Lemaître" layerID="1" created="0" x="959"
        y="334" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="12" label="1894&#xa;–&#xa;1966&#xa;è&#xa;stato&#xa;un&#xa;fisico,&#xa;astronomo&#xa;e&#xa;presbitero&#xa;belga." layerID="1" created="0" x="17"
        y="514" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="13" label="Spostamento&#xa;verso&#xa;il&#xa;rosso&#xa;→&#xa;Espansione&#xa;universo" layerID="1" created="0" x="53"
        y="869" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="14" label="Negli&#xa;anni&#xa;venti&#xa;ipotizzo&#xa;il&#xa;big&#xa;bang" layerID="1" created="0" x="242"
        y="399" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="15" label="Big&#xa;Bang" layerID="1" created="0" x="246"
        y="105" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="16" label="13,7&#xa;miliardi&#xa;di&#xa;anni&#xa;fa" layerID="1" created="0" x="431"
        y="104" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="17" label="Prime&#xa;teorie&#xa;non&#xa;riuscivano&#xa;a&#xa;spiegare&#xa;creazione&#xa;elementi&#xa;pesanti " layerID="1" created="0" x="833"
        y="778" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="18" label="Arno&#xa;Penzias&#xa;e&#xa;Robert&#xa;Wilson" layerID="1" created="0" x="523"
        y="888" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="19" label="Penzias&#xa;1933&#xa;-&#xa;è&#xa;un&#xa;fisico&#xa;statunitense." layerID="1" created="0" x="46"
        y="459" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="20" label="Wilson&#xa;1936&#xa;-&#xa;è&#xa;un&#xa;astronomo&#xa;e&#xa;fisico&#xa;statunitense." layerID="1" created="0" x="674"
        y="24" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="21" label="Trovarono&#xa;il&#xa;rumore&#xa;di&#xa;fondo&#xa;su&#xa;antenna" layerID="1" created="0" x="153"
        y="855" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="22" label="Robert&#xa;Dicke" layerID="1" created="0" x="788"
        y="883" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="23" label="1916&#xa;-&#xa;1997&#xa;è&#xa;stato&#xa;un&#xa;fisico&#xa;sperimentale&#xa;statunitense" layerID="1" created="0" x="20"
        y="753" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="24" label="contributi&#xa;nel&#xa;campo&#xa;dell’astrofisica,&#xa;fisica&#xa;atomica,&#xa;cosmologia&#xa;e&#xa;gravità." layerID="1" created="0" x="441"
        y="421" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="25" label="Stava&#xa;studiando&#xa;a&#xa;Princeton&#xa;l’ipotesi&#xa;di&#xa;Gamow&#xa;della&#xa;radiazione&#xa;di&#xa;fondo" layerID="1" created="0" x="180"
        y="257" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="26" label="George&#xa;Gamow" layerID="1" created="0" x="205"
        y="855" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="27" label="1904&#xa;-&#xa;1968&#xa;è&#xa;stato&#xa;un&#xa;fisico,&#xa;cosmologo&#xa;e&#xa;divulgatore&#xa;scientifico&#xa;russo&#xa;naturalizzato&#xa;statunitense." layerID="1" created="0" x="966"
        y="938" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="28" label="Ipotizzò&#xa;che&#xa;scrutando&#xa;l’universo&#xa;si&#xa;sarbbe&#xa;trovata&#xa;la&#xa;radiazione&#xa;di&#xa;fondo" layerID="1" created="0" x="586"
        y="184" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="29" label="Alan&#xa;Guth" layerID="1" created="0" x="121"
        y="56" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape xsi:type="rectangle"/>
    </child>
	<child ID="30" label="1947&#xa;-&#xa;è&#xa;un&#xa;fisico&#xa;e&#xa;cosmologo&#xa;statunitense." layerID="1" created="0" x="711"
        y="553" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="31" label="Propose&#xa;l’universo&#xa;inflazionario" layerID="1" created="0" x="270"
        y="471" width="100" height="50" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000001</strokeColor>
        <textColor>#000002</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="42" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
	<child ID="43" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
	<child ID="44" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">18</ID2>
    </child>
	<child ID="45" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">22</ID2>
    </child>
	<child ID="46" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">26</ID2>
    </child>
	<child ID="47" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">29</ID2>
    </child>
	<child ID="48" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
	<child ID="49" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
	<child ID="50" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
	<child ID="51" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">16</ID2>
    </child>
	<child ID="52" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
	<child ID="53" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">18</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
	<child ID="54" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">18</ID1>
        <ID2 xsi:type="node">20</ID2>
    </child>
	<child ID="55" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">18</ID1>
        <ID2 xsi:type="node">21</ID2>
    </child>
	<child ID="56" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
	<child ID="57" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">24</ID2>
    </child>
	<child ID="58" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
	<child ID="59" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">26</ID1>
        <ID2 xsi:type="node">27</ID2>
    </child>
	<child ID="60" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">26</ID1>
        <ID2 xsi:type="node">28</ID2>
    </child>
	<child ID="61" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">29</ID1>
        <ID2 xsi:type="node">30</ID2>
    </child>
	<child ID="62" label="" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">29</ID1>
        <ID2 xsi:type="node">31</ID2>
    </child>
	<userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1490197928676" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="-1" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2d0a861f20456c38d31fc423cf</URIString>
            <masterSlide ID="2" created="1490197928787" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe340a861f20456c38d38ddcda80</URIString>
                <titleStyle ID="3" label="Header"
                    created="1490197928844" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe350a861f20456c38d3ebee4c00</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1490197928845" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe360a861f20456c38d3fcc2a0a5</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1490197928850"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe370a861f20456c38d32e15d849</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-22</date>
    <modelVersion>6</modelVersion>
    <saveLocation></saveLocation>
    <saveFile>empty.vue</saveFile>
</LW-MAP>