<!-- Tufts VUE 3.3.0 concept-map (empty.vue) 2017-03-22 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/vue/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Wed Mar 22 16:52:17 CET 2017 by raf on platform Linux 4.10.2-1-ARCH in JVM 1.8.0_121-b13 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="empty.vue"
    created="1490197928677" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1490197937700"
        spec="empty.vue"
        type="1" xsi:type="URLResource">
        <title>empty.vue</title>
        <property key="File" value="empty.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe260a861f20456c38d38f4f07be</URIString>
    <layer ID="1" label="Layer 1" created="1490197928682" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2b0a861f20456c38d34cc8dff0</URIString>
    </layer>
	<child ID="10" label="Nodo1.1" layerID="1" created="0" x="-96.51775"
        y="213.06458" width="138.0" height="157.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="11" label="Nodo&#xa;Principale&#xa;" layerID="1" created="0" x="68.06678"
        y="-48.895576" width="138.0" height="187.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#FCDBD9</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="12" label="Nodo1.2" layerID="1" created="0" x="195.40009"
        y="217.06458" width="138.0" height="157.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="13" label="Nodo&#xa;Scollegato" layerID="1" created="0" x="371.0668"
        y="-29.062206" width="215.99997" height="99.33333" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
		<fillColor>#000000</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
       <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
	<child ID="24" label="Conduce&#xa;a" layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
	<child ID="25"  layerID="1" created="0"  strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
	<userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Percorso senza titolo"
            created="1490197928676" x="0.0" y="0.0" width="1.4E-45"
            height="1.4E-45" strokeWidth="0.0" autoSized="false"
            currentIndex="-1" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe2d0a861f20456c38d31fc423cf</URIString>
            <masterSlide ID="2" created="1490197928787" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe340a861f20456c38d38ddcda80</URIString>
                <titleStyle ID="3" label="Header"
                    created="1490197928844" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe350a861f20456c38d3ebee4c00</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1490197928845" x="339.5" y="282.5"
                    width="121.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe360a861f20456c38d3fcc2a0a5</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1490197928850"
                    x="372.0" y="385.0" width="56.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f6b7fe370a861f20456c38d32e15d849</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-22</date>
    <modelVersion>6</modelVersion>
    <saveLocation></saveLocation>
    <saveFile>empty.vue</saveFile>
</LW-MAP>